.form {
    background-color: white;
    padding: 20px 15px;
}

.form__fieldset {
    border-radius: 5px;
    border: 2px solid #00a2ff;
}

.form__fieldWrapper {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}

.form__legend {
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid #00a2ff;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
}

.form__currencyInFlag, .form__currencyOutFlag {
    text-align: center;
    margin-left: 50px;
}